doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h2 Aplikasi Mobile Banking Berbasis Android
      section
        h3 Pengertian Mobile Bangking
        h4
          | M-Banking yang merupakan sebuah sistem layanan dari sebuah lembaga keuangan seperti Bank untuk melakukan sejumlah transaksi keuangan yang dapat diakses langsung oleh nasabah melalui perangkat mobile seperti telepon seluler.
          br
          |             Telepon seluler bekerja dengan cara menerima sinyal elektromagnetik dari sebuah pemancar. Pemancar telepon seluler disebut dengan Base Transceiver Station . BTS biasanya diletakan pada tempat tertentu dengan cara irisan-irisan daerah yang disebut cell dan ditandai dengan antena yang dipasang pada daerah tersebut.
          br
          |             Di dalam sistem mobile banking harus ada sistem mekanisme yang dapat menelusuri sistem mobile banking pada smartphone berjalan dengan baik dan lancar saat digunakan oleh nasabah-nasabah bank tersebut
      section
        h3 Keuntungan menggunakan M-Banking
        h4
          | fasilitas mobile banking terdapat sistem kontrol agar para pengguna dapat mengakses fasilitas tersebut maka Bank diharuskan untuk melakukan suatu hal yang memadai untuk menguji keaslian identitas dan otoritas dari bank kepada nasabahnya yang melakukan transaksi dari mobile banking.
          br
          |           Bank yang memberikan fasilitas mobile banking perlu memastikan bahwa setiap transaksi selalu melakukan akses PIN ( Personal Identification Number) agar terhindar dari kejahatan sosial. 
          br
          |           dengan mobile banking dapat lebih menghemat waktu karena kita tidak memperhatikan sistem pembayaran dan transfer setiap nasabah untuk antri langsung seperti yang biasa dilakukan di bank.
          br
          |             Bank harus memiliki sistem privacy dan keamanan guna mengetahui apakah ada rekening yang salah untuk ditransfer.
          br
          |             Perlu diketahui bahwa sistem tampilan pada mobile banking mudah dimengerti bagi setiap nasabah. Berbagai layanan yang ada dalam mobile banking seperti pembayaran, transfer, history, dan lain sebagainya menjadikan setiap nasabah lebih mudah dan praktis. Selain keuntungan pada nasabah, dengan adanya mobile banking menjadikan Bank lebih praktis dan menguntungkan karena menjadikan hal-hal yang biasa semua nasabah bank melakukan akses apapun langsung ke bank tetapi dapat lebih praktis karena dilakukan sendiri.
          br
      section
        h2 Keterkaitan sistem Mobile Banking
        h3  
      section
        h2 Bullet List
        h3.bullet
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-bullets') bespoke-bullets
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3
      section
        h2 Syntax Highlighting
        h3
          | Powered by 
          a(href='http://twitter.com/LeaVerou') Lea Verou
          | 's 
          a(href='https://github.com/LeaVerou/prism') Prism
        pre.
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-hash') bespoke-hash
        p
          | Look up! This route has been named with a 
          em 'data-bespoke-hash'
          |  attribute.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-backdrop') bespoke-backdrop
      section
        h2.bullet Just the beginning...
        br
        ul
          li
            | Edit 
            a(href='http://jade-lang.com/') Jade
            |  markup in 
            em 'src/index.jade'
          li
            | Edit 
            a(href='http://learnboost.github.io/stylus/') Stylus
            |  styles in 
            em 'src/styles/main.styl'
          li
            | Edit JavaScript in 
            em 'src/scripts/main.js'
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    script(src='build/build.js')
